.container{
    padding: 30px 60px 10px 60px;
}
body{
    background-image: url(../images/vertical_cloth.png);
    color: lightgray;
    font-family: 'Playfair Display', serif;
}
.jumbotron{
    text-align: center;
    background-image: url(../images/halftone-yellow.png);
    color: darkslategray;

}
#winPic{
    padding: 0px 0px 0px 0px;
}
.toast{
    width: 400px;
    height: 75px;
    font-size: 1em;
    text-align: center;
}